body{
            margin: 0;
            padding: 0;
            /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        }
        .grid-container-top{
            /* display:grid; */
            /* grid-template-columns: 0.5fr 5fr 1fr; */
            /* background: -webkit-linear-gradient(#373737, #565656, #828385, #A0A1A4); */
            /* background: #96a691; */
            background: #868f74;
            padding: 0px 20px;
            height: 150px;
            /* border-style: ridge; */
            border-radius: 5px 5px;
            border-color: #f1f1f1;
        }
        .grid-item-button{
            text-align: right;
        }
        .grid-item-button #btn{
            border: none;
            background-color: transparent;
            color: white;
            /* padding: 10px 13px; */
            font-size: 18px;
            cursor: pointer;
        }
        .grid-item-button #btn:hover {
            cursor: point;
            background-color: #585c3f;
            color: white;
            border-radius: 15px 15px;
        }
        .grid-item, .grid-item-pp{
            padding: 10px;
             
        }
        .grid-item-pp img{
            height: 120px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }
        .username{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .grid-item-text{
            color: #fff;
            text-align: center;
            font-weight: 500;
        }
        .grid-item-nav{
            text-align: center;
        }
        .grid-item-nav #btn1{        
            border: none;
            border-radius: 15px 15px;
            background-color: #f1ede6;
            color: #585c3f;
            padding: 10px 30px;
            font-size: 15px;
            cursor: pointer;
        }
        .grid-item-nav #btn1:hover{    
            cursor: pointer; 
            background-color: #585c3f;
            color: #f1ede6;
        }
        .grid-container-bottom{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 40px;
            /* background-color: #a6b1a3; */
            /* background-color: #efe7da; */
            background: #D4D7C4;
            padding: 20px;
        }
        .polaroid{
            background-color: white;
            -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
            -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
            box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
            margin: 30px;
        }
        .pol-img{
            text-align: center;
        }
        .pol-img img{
            height: 250px;
            width: 250px;
            /* display: block;
            margin: 15px auto; */
            margin-top: 15px;

        }
        .pol-img :hover{
            cursor: pointer;
            box-shadow: 0 0 2px 1px rgba(152, 0, 186, 0.13);
        }
        .caption{
            text-align: center;
            font-size: 25px;
            color: #333333;
        }

.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

        @media (max-width: 1455px){
            .pol-img img{
                height: 230px;
                width: 230px;
            }            
        }
        @media (max-width:1300px){
            .grid-container-bottom{
                grid-template-columns: 1fr 1fr 1fr;
            }
            .pol-img img{
                height: 280px;
                width: 280px;
           }
        }
        @media (max-width: 1134px){
            .pol-img img{
                height: 230px;
                width: 230px;
            }            
        }
        @media (max-width: 981px){
            .pol-img img{
                height: 200px;
                width: 200px;
            }            
        }
        @media (max-width:844px){
            .grid-container-bottom{
                grid-template-columns: 1fr 1fr;
            }
            .pol-img img{
                height: 280px;
                width: 280px;
           }
        }
        @media (max-width: 757px){
            .pol-img img{
                height: 230px;
                width: 230px;
           }           
        }
        @media (max-width: 652px){
            .pol-img img{
                height: 200px;
                width: 200px;
           }           
        }
        @media (max-width: 584px){
            .pol-img img{
                height: 160px;
                width: 160px;
           }           
        }
        @media (max-width: 510px){
            .grid-container-bottom{
                grid-template-columns: 1fr;
            }
            .pol-img img{
                height: 300px;
                width: 300px;
            }
        }
        @media (max-width:420px){
            .pol-img img{
                height: 250px;
                width: 250px;                
            }
        }