*{
            padding: 0;
            margin: 0;
        }
        h2{
            font-family: 'Times New Roman', Times, serif;
            font-weight: 1000;
        }
        body{
            background-color: #66666e;
            overflow:hidden;
            height: 100vh;
        }
        .main-grid-container{
            display: grid;
            grid-template-columns: 1fr 5fr 2fr;
            grid-template-rows: 1fr;
            grid-gap: 2px;
            height: 100%;
            padding: 0;
        }
        .grid-container-sidenav{
            padding: 1px;
            /* border: 3px solid black; */
            border-radius: 15px;
            /* background-color: #bdb2a7 ; */
            background-color: #d5d3d5 ;
            height: 100%;
            overflow-y: auto;
        }
        .grid-maincont{
            /* border: 3px solid black; */
            border-radius: 15px;
            background-color: #d5d3d5 ;
            height: 100%;
            overflow-y: scroll;
            /* padding: 15px; */
        }
        .grid-container-webinfo{
            padding: 5px;
            /* border: 3px solid black; */
            border-radius: 15px;
            /* background-color: #bdb2a7 ; */
            background-color: #d5d3d5 ;
            height: 100%;
            overflow: auto;
        }
        ul{
            padding-inline-start: 0px;
        }
        ul li{
            display: flex;
            justify-content: flex-start;
            letter-spacing: 2px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            list-style: none;
            font-size: 25px;
            border: 2px;
            border-radius: 30px;
            margin: 10px;
        }
        ul li a{
            padding: 10px;
        }
        ul li:hover{
            background-color: #a9a9a9 ;
            color: #f7f7f7;
        }
        .grid-container-banner{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 10px;
            padding:10px;
            height: 150px;
            font-family: 'Times New Roman', Times, serif;
        }
        .grid-container-banner h1{
            margin: 0 !important;
            padding: 0 !important;
            line-height: 1em;
            font-weight: 1000;
        }
        .grid-container-banner p{
            line-height: 1em;
        }
        .image-banner img{
            height: 150px;
            border-radius: 10px;
        }
        #slideset {
            position: relative;
            overflow: hidden;
        }
        #slideset > * {
            overflow: hidden;
            position: absolute; 
            top: 100%; 
            left: 0;
            animation: 8s autoplay infinite ease-in-out
        }
        @keyframes autoplay {
            0%{top: 100%}
            4%{top: 0%}
            50%{top: 0%}
            54%{top: -100%}
            100%{top: -100%}
            /* 0% {top: 100%}
            4% {top: 0%}
            33.33% {top: 0%}
            37.33% {top: -100%}
            100% {top: -100%} */
        }
        
        #slideset > *:nth-child(1) {animation-delay: 0s}
        #slideset > *:nth-child(2) {animation-delay: 4s}
        /* #slideset > *:nth-child(3) {animation-delay: 8s} */
        #slideset h1{
            font-size: 60px;
            padding-top: 30px;
        }
        #slideset p{
            width:450px;
            padding-left: 10px;
        }
        a{
            text-decoration: none;
            color: #000;
        }

        /* .slide_img{
            position: absolute;
            width:100%;
            height: 90%;
            z-index: -1;
        }
        .slide_img img{
            width:100%;
            height: 90%;
        }
        #i1, #i2, #i3{
            display: none;
        }
        .nxt{
            right: 0;
            width: 12%;
            height: 90%;
            position: absolute;
            top: 0;
            z-index: 99;
            cursor: pointer;
        } */
        /* .pre{
            left: 0;
        }
        .nxt{
            right: 0;
        } */
        /* #i1:checked ~ #one,
        #i2:checked ~ #two,
        #i3:checked ~ #three{
            z-index: 9;
        } */
        .grid-container-rows{
            border-radius: 15px;
            display: flex;
            /* grid-template-rows: 1fr; */
            flex-direction: column;
        }
        .grid-item-webinfo{
            background-color: #e8dacd;
            /* border: 1px solid black; */
            border-radius: 15px;
            padding: 10px;
            margin: 3px;
        }
        .grid-item-webinfo p{
            font-family: sans-serif;
            font-size: 24px;
        }
        .grid-container-maincont{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            max-height: 100%;
            margin: 10px;
        }
        .grid-item{
            /* background-color: #e8dacd; */
            background-color: #f7f7f7 ;
            width: 99%;
            height: 260px;
            position: relative;
            overflow: hidden;
            /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
            -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
            -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
            box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        }
        .grid-item img{
            display: block;
            margin: 10px auto;
            max-width: 230px;
            height: 200px;
        }
        .grid-item:hover{
            background-color: #a9a9a9;
            cursor: pointer;
            z-index: 9;
            animation: height 0.5s forwards ease;
        }
        @keyframes height{
            0%{height: 250px;}
            50%{height: 280x; }
            100%{height: 300px;overflow: visible;}
        }
        .user_profile_info{
            width: 95%;
            margin-left: 2%;
        }
        .user_profile_info img{
            border-radius: 60%;
            width: 8%;
            height: 8%;
        }
        .space{
            margin:0; 
            padding-left:10px; 
            padding-bottom: 15px;
            font-family: 'Times New Roman', Times, serif;
        }
        .press-button{
            display: none;
        }
        #nav-button{
            display: none;
        }
        .small-nav-bar{
            display: none;
        }
        /* @keyframes sliding {
            0% {opacity: 0.0}
            4% {opacity: 1.0}
            33.33% {opacity: 1.0}
            37.33% {opacity: 0.0}
            100% {opacity: 0.0}
        }
        #slider > *:nth-child(1) {animation-delay: 0s}
        #slider > *:nth-child(2) {animation-delay: 4s}
        #slider > *:nth-child(3) {animation-delay: 8s} */
        @media (max-width:1432px){
            .grid-container-maincont{
                grid-template-columns: 1fr 1fr;
                
            }
        }
        @media (max-width:1025px){
            #slideset h1{
                padding : 15px;
            }
        }
        @media (max-width:900px){
            .main-grid-container{
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: auto;
            }
            .main-grid-container > div{
                scroll-snap-align: start;
                flex-shrink: 0;
                width: 100%;
            }
            .grid-container-maincont{
                grid-template-columns: 1fr 1fr;
                
            }
            .main-grid-container{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-gap: 5px;
            }
            .grid-container-sidenav{
                display: none;
            }
            .grid-container-webinfo{
                display: inline-flex;
            }        
            .space{
                padding-bottom:1px;
            }
            #nav-button{
                display: none;
            }
            .press-button{
                display: inline-block;
                width: 98%;
                height: 3%;
                margin:0 auto 2px;
                cursor: pointer;
            }
            .press-button:hover{
                background-color: #a89e94;
            }
            #nav-button:checked ~ .small-nav-bar{
                display: block;
            }
        }
        @media (max-width: 600px){
            .image-banner img{
                height: 150px;
            }
            .grid-container-banner{
                height: 150px;
            }
            #slideset h1{
                font-size:30px;           
            }
            #slideset p{
                margin:5px auto;
                padding-left: 0;
                font-size: 13px;
                width: 500px;
                height: 100px;
            }
        }
        @media (max-width: 450px){
            .grid-container-maincont{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }
            .main-grid-container{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-gap: 5px;
            }
            .grid-container-sidenav{
                display: none;
            }
            .grid-container-webinfo{
                display: inline-flex;
            }
            .image-banner img{
                height: 100px;
            }
            .grid-container-banner{
                height: 100px;
            }
            #slideset h1{
                font-size: 30px;
                padding: 0;
            } 
            #slideset p{
                margin:5px auto;
                padding-left: 0;
                font-size: 13px;
                width: 295px;
                height: auto;
            }
            /* .bottom-nav{
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                justify-content: space-between;
                align-items: center;
                z-index: 200;

                width: 100%;
                height: 100px;
                background-color: #bdb2a7;
                border-top: 2px solid #a49a90;
            }
            .bottom-nav a{
                margin: 10px 10px;
                padding: 10px 0 0;
                width: 100px; !important
                height: 100px;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 1000;
            } */
        }

        [class*="col"]{
        padding: 1rem;
        background-color: #bdb2a7 ;
        border: 1px solid black;
        }
        .row{
            height: 840px;
        }
        .panel-heading{
            text-align: center;
        }
        .a{
            text-align: center;
        }
        #notifs{
            background-color: #f7f7f7;
            height: 100px;
            /* margin-top: 30px; */
            text-align: center;
            border-radius: 5px;
        }
        #notifs a{
            text-decoration: none;
        }
        /* #notifs a:active{

        } */
        #carouselTrend{
            border: 1px solid black;
            border-radius: 12px;
        }
        #photos{
            border-radius: 12px;
        }
        .user_profile_info{
            width: 95%;
            /* border: 1px solid black;
            background-color: #bdb2a7; */
            margin: 2% 2%;
            /* padding-top: 2%; */
            /* padding-left: 2%; */
        }
        .user_profile_info img{
            border-radius: 50%;
            width: 10%;
            height: 10%;
        }
        /* .img-fluid{
            transition: transform 0.1s ease-in-out;
        }
        .img-fluid:hover{
            border-radius: 12px;    
            transform: scale(1.1);
        } */
        /* .img-fluid:active{
            z-index: 1;
            color: aliceblue;
        } */
        .form-inline:focus-within  .search-info{
            display: block;
        }
        .search-info{
            display: none;
            position: absolute;
            background-color: #f7f7f7;
            width: fit-content;
            z-index: 2;
        }
        #photos{
            border-radius: 0;
            transition: 0.2s;
        }
        #photos:hover{
            transform: scale(1.02);
            z-index: 0;
        }
        #gap{
            margin-top: 30px;
        }
        .carousel-item#gap{
            box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        }
        .image p{
            margin: 5px;
            text-align: center;
            /* background-color: #e8dacd; */
        }
        .carousel-inner#enlarge{
            transition: 0.2s;
            height: auto;
            z-index: 1;
            /* border: 0; */
        }
        #carouselTrend{
            border: 0;
            box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
            background-color: #f7f7f7;
        }
        .container-fluid{
            font-family: 'Times New Roman', Times, serif;
        }
        /* @media (max-width = 450px){
            .bottom-nav{
                display: none;
            }
        } */